.DetailPanel {
  width: 60%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.button.Navigate-right-button {
  float: right;
  margin: 0px;
}

.content {
  float: left;
  position: relative;
}

.content-text {
  left: 100px;
  width: 450px;
  bottom: 25px;
  font-weight: bold;
  position: absolute;
  color: black;
}

img {
  background-color: #DADADA;
}

img:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.2s;
}