.detail-body {
    width: 95%;
    height: 25vh;
    background-color: #F3F3F3;
    margin-left: 10px;
    border-radius: 3px;
}

#temp-head {
    width: 150px;
}

#detail-template-drop{
    margin-top: 15px;
    margin-left: 30px;
    width: 30%;
}

#detail-template-content{
    margin-top: 15px;
    margin-left: 30px;
}


.detail-template-head{
    padding: 3px;
}

